

.cardscont{
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    /* Cuatro columnas de igual tamaño */
    gap: 30px;
    /* Espacio entre las tarjetas */
    justify-content: center;
    /* Alinear las columnas al espacio disponible */

    margin-left: 50px;
   margin-right: 40px;
   
}
.conthome{
 
    width:1800px;
    height:1000px;
    margin-top: 20px;
    margin-left: -300px;
    display: flex;
    flex-direction: column;
    gap:30px
    
}

.contfilter{
    /* background-color:  #a28e8efa; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
    gap: 10px;
}
