.contfilters{
    background-color:  #73b2c5;
    color: rgb(250, 244, 244);
    display: flex;
   justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60px;
    width: 100%;
 
}


.contfilter{
    /* background-color:  #a28e8efa; */
    color: rgb(239, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
    gap: 10px;
}

  