.contfilters{
    background-color:  #85bfd0;
    color: white;
    display: flex;
   justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 100%;
 
}


.contfilter{
    /* background-color:  #a28e8efa; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
    gap: 10px;
}
.contord{
    /* background-color:  #6a2525; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
}
.ordrating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
}

.ordalfab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
}
.contorigin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
}

.contgenres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
}
.contpage{
    /* background-color: rgb(112, 186, 186); */
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
    width: 50%;
    margin-left: 600px;
}
.contcards{
    margin: 0 auto;
    display: block;
}
.contpage button{
    width: 50px;
    height: 20px;
    margin:10px;
    background-color: #0f100f;
    color: aliceblue;
    cursor: pointer;
}

  