.container {
  border: 6px solid #f2e9e9;
  padding: 10px;
  width: 250px; /* Establece un ancho fijo para todas las tarjetas */
  height: 350px; /* Establece una altura fija para todas las tarjetas */
  border-radius: 30px;
  background-color: rgb(101, 169, 233);
  display: flex; /* Usa flex para mantener el mismo tamaño */
  flex-direction: column; /* Alinea el contenido verticalmente */
  align-items: center; /* Alinea el contenido horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
  margin-bottom: 50px;
}

.container img{
  width: 100%; /* Asegura que la imagen no sea más ancha que la tarjeta */
  height: 150px; 

}
